[submodule "class_meeting_02_stop_at_wall"]
	path = class_meeting_02_stop_at_wall
	url = https://github.com/Intro-Robotics-UChicago-Spring-2021/class_meeting_02_stop_at_wall.git
[submodule "class_meeting_03_line_follower"]
	path = class_meeting_03_line_follower
	url = https://github.com/Intro-Robotics-UChicago-Spring-2021/class_meeting_03_line_follower.git
[submodule "class_meeting_06_likelihood_field"]
	path = class_meeting_06_likelihood_field
	url = https://github.com/Intro-Robotics-UChicago-Spring-2021/class_meeting_06_likelihood_field.git
[submodule "class_meeting_08_kinematics"]
	path = class_meeting_08_kinematics
	url = https://github.com/Intro-Robotics-UChicago-Spring-2021/class_meeting_08_kinematics
[submodule "class_meeting_11_cat_recognition"]
	path = class_meeting_11_cat_recognition
	url = https://github.com/Intro-Robotics-UChicago-Spring-2021/class_meeting_11_cat_recognition
